@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 80%;
    background-color: #000000;
    color: #FFFFFF;
}

#input-box {
    background-color: #FFFFFF;
}

input, input:focus {
    width: 80%;
    font-family: 'Source Code Pro', monospace; 
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    outline: none;
}

.dollar {
    color: #279100;
}

.title {
    background-color: #279100;
    color: #FFFFFF;
}

.full-star {
    color: yellow;
}

a {
    color: #FFFFFF;
}

i {
    font-size: 150%;
}

.title-red {
    font-size: 120%;
    background-color: red;
}

.row {
    margin-top: 10px;
}